In [91]:
import pandas as pd
import numpy as np
import csv

In [92]:
csv = "./data/201812.csv"
dec_2018 = pd.read_csv(csv)

In [93]:
dec_2018.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,689,2018-12-01 00:00:04.3020,2018-12-01 00:11:33.8460,3359.0,E 68 St & Madison Ave,40.769157,-73.967035,164.0,E 47 St & 2 Ave,40.753231,-73.970325,35033,Subscriber,1989,1
1,204,2018-12-01 00:00:05.5330,2018-12-01 00:03:30.5230,3504.0,E 123 St & Lexington Ave,40.802926,-73.937900,3490.0,E 116 St & 2 Ave,40.796879,-73.937261,20501,Subscriber,1966,1
2,316,2018-12-01 00:00:10.2330,2018-12-01 00:05:27.2030,270.0,Adelphi St & Myrtle Ave,40.693083,-73.971789,243.0,Fulton St & Rockwell Pl,40.688226,-73.979382,18386,Subscriber,1984,1
3,726,2018-12-01 00:00:21.9570,2018-12-01 00:12:28.1830,495.0,W 47 St & 10 Ave,40.762699,-73.993012,3660.0,W 16 St & 8 Ave,40.741022,-74.001385,27616,Subscriber,1983,1
4,397,2018-12-01 00:00:29.6320,2018-12-01 00:07:07.4460,473.0,Rivington St & Chrystie St,40.721101,-73.991925,3467.0,W Broadway & Spring Street,40.724947,-74.001659,35096,Subscriber,1976,1

In [94]:
df=dec_2018.groupby("bikeid").agg({"tripduration" : ["median", "sum", "count"]})
df["month"] = "Dec"
df["year"] = 2018

df



df.to_csv("bikeid_201812.csv",index=True)


# df = df[["year", "month", "bikeid", "tripduration", "start station id"]]
# df = df.rename(columns={"bikeid" : "bike_id", "tripduration" : "median_trip_duration", "start station id" : "ride_count"})

In [95]:
jan = pd.read_csv("bikeid_201801.csv")
feb = pd.read_csv("bikeid_201802.csv")
mar = pd.read_csv("bikeid_201803.csv")
apr = pd.read_csv("bikeid_201804.csv")
may = pd.read_csv("bikeid_201805.csv")
jun = pd.read_csv("bikeid_201806.csv")
jul = pd.read_csv("bikeid_201807.csv")
aug = pd.read_csv("bikeid_201808.csv")
sept = pd.read_csv("bikeid_201809.csv")
octob = pd.read_csv("bikeid_201810.csv")
nov = pd.read_csv("bikeid_201811.csv")
dec = pd.read_csv("bikeid_201812.csv")

combined_bikeid_2018 = pd.concat([jan, feb, mar, apr, may, jun, jul, aug, sept, octob, nov, dec])

combined_bikeid_2018.to_csv("combined_bikeid_2018.csv", index=False)